@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Circular Std", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
